body {
  background: #f6f6f6;
}

.App {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge
   */
}
.App::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.nav-links {
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  &-angels {
    &:hover {
      svg {
        path {
          fill: white !important;
          stroke: none !important;
        }
      }
    }
  }
  &.first-nav-link {
    &:hover {
      svg {
        .apps-first-path {
          fill: white !important;
        }
      }
    }
  }
  &:hover {
    svg {
      path {
        stroke: white;
      }
    }
  }
}
