body {
  background: #f6f6f6;
  padding: 16px;
}

* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer and Edge
   */
  &::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, and Opera */
  }
}

.header {
  width: calc(100% - 301px);
}

.main-content {
  height: calc(100vh - 116px);
  margin-top: 84px;
}

.nav-links {
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  &-angels {
    &:hover {
      svg {
        path {
          fill: white !important;
          stroke: none !important;
        }
      }
    }
  }
  &.first-nav-link {
    &:hover {
      svg {
        .apps-first-path {
          fill: white !important;
        }
      }
    }
  }
  &:hover {
    svg {
      path {
        stroke: white;
      }
    }
  }
}
