body {
  background: #f6f6f6;
  padding: 16px;
}
* {
  overflow-x: hidden !important;
}

// * {
//   scrollbar-width: none !important; /* Firefox */
//   -ms-overflow-style: none !important; /* Internet Explorer and Edge
//    */
//   &::-webkit-scrollbar {
//     display: none !important; /* Chrome, Safari, and Opera */
//   }
// }

// .header {
//   width: calc(100% - 301px);
// }

.main-content {
  height: fit-content;
}

.nav-links {
  transition: background 0.1s ease-in-out;
  cursor: pointer;
  &-angels {
    background: #43c4b2;
    color: white !important;
    svg {
      path {
        fill: white !important;
        stroke: none !important;
      }
    }
  }
  &.first-nav-link {
    &:hover {
      svg {
        .apps-first-path {
          fill: white !important;
        }
      }
    }
  }
  &:hover {
    svg {
      path {
        stroke: white;
      }
    }
  }
}

.btn-container {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #f0f0f0;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #f0f0f0;
  }
}
